<div class="w-48 h-48 border border-slate-600 rounded flex flex-col justify-center items-center mt-4">
  <div class="text-4xl font-bold" id="<%= id %>">
    <%= value %>
  </div>
  <div>
    <%= label %>
  </div>
</div>
