.sortable th {
  cursor: pointer;
}

.sortable th.dir-d {
  color: #000;
}

.sortable th.dir-d::after {
  color: inherit;
  content: ' \025BE';
}

.sortable th.dir-u {
  color: #000;
}

.sortable th.dir-u::after {
  color: inherit;
  content: ' \025B4';
}
